<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
    <title>Facial Expression Recognition</title>
</head>

<body>
    <div class="data">
        <h1 align="center">Face Expression Recognition Using Tensorflow and Keras</h1>
        <div class="vid">
            <img id="bg" width=800px width=640px src="{{url_for('video_feed')}}" alt="Video">
        </div>
        <p align="center">You are being monitered.</p>
    </div>
</body>

</html>